{% extends 'base.html.twig' %}

{% block title %}Registrar Oficinista{% endblock %}

{% block body %}
    <h1>Registrar Oficinista</h1>

    {{ include('oficinista/_form.html.twig') }}

    <a href="{{ path('app_oficinista_index') }}" class="btn btn-secondary"><< Listar</a>
{% endblock %}
