{% extends 'base.html.twig' %}

{% block title %}Editar Docente{% endblock %}

{% block body %}
    <h1>Editar Docente</h1>

    {{ include('docente/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_docente_index') }}" class="btn btn-secondary"><< Listar</a>
    <br><br>
    {{ include('docente/_delete_form.html.twig') }}
{% endblock %}
